<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="Member"> 
	<!-- 아이디 중복확인 -->
	<select id="idovarlap" parameterType="String" resultType="String">
		SELECT MID FROM MEMBER WHERE MID=#{mid}
	</select>
	
	<!-- 회원가입 -->
	<insert id="memberjoinform" parameterType="member">
		INSERT INTO MEMBER (MID, MPASSWORD, MNAME, MBIRTH, MEMAIL, MPHONE, MADDRESS1, MADDRESS2, MADDRESS3, MADDRESS4, MFILENAME) 
			VALUES(#{mid}, #{mpassword}, #{mname}, #{mbirth}, #{memail}, #{mphone}, #{maddress1}, #{maddress2}, #{maddress3}, #{maddress4}, #{mfilename})
	</insert>
	
	<insert id="kakaoMemberJoin" parameterType="member">
		INSERT INTO MEMBER (MID, MPASSWORD, MNAME, MBIRTH, MEMAIL, MPHONE, MADDRESS1, MADDRESS2, MADDRESS3, MADDRESS4, KAKAOID, MFILENAME) 
			VALUES(#{mid}, #{mpassword}, #{mname}, #{mbirth}, #{memail}, #{mphone}, #{maddress1}, #{maddress2}, #{maddress3}, #{maddress4}, #{kakaoId}, #{mfilename})
	</insert>
	
	<insert id="naverMemberJoin" parameterType="member">
		INSERT INTO MEMBER (MID, MPASSWORD, MNAME, MBIRTH, MEMAIL, MPHONE, MADDRESS1, MADDRESS2, MADDRESS3, MADDRESS4, NAVERID, MFILENAME) 
			VALUES(#{mid}, #{mpassword}, #{mname}, #{mbirth}, #{memail}, #{mphone}, #{maddress1}, #{maddress2}, #{maddress3}, #{maddress4}, #{naverId}, #{mfilename})
	</insert>
	
	<!-- 로그인 -->
	<select id="login" parameterType="member" resultType="String">
		SELECT MID FROM MEMBER WHERE MID=#{mid} AND MPASSWORD=#{mpassword}
	</select>
	
	<!-- 회원목록 -->
	<select id="memberlist" parameterType="page" resultType="member">
		SELECT * FROM (SELECT M.*, ROW_NUMBER() OVER(ORDER BY MID)
			AS RN FROM MEMBER M) WHERE RN BETWEEN #{startRow} AND #{endRow}
	</select>
	
	<!-- 회원수 -->
	<select id="Count" resultType="int">
		SELECT COUNT(MID) FROM MEMBER
	</select>
	
	<!-- 상세조회 -->
	<select id="memberview" parameterType="String" resultType="member">
		SELECT * FROM MEMBER WHERE MID=#{mid}
	</select>
	
	<select id="kakaoLogin" parameterType="String" resultType="String">
		SELECT MID FROM member WHERE KAKAOID=#{kakaoId}
	</select>
	
	<select id="naverLogin" parameterType="String" resultType="String">
		SELECT MID FROM member WHERE NAVERID=#{naverId}
	</select>
	
	<update id="memberupdate" parameterType="member">
		UPDATE MEMBER SET MEMAIL=#{memail}, MPHONE=#{mphone}, MADDRESS1=#{maddress1}, MADDRESS2=#{maddress2}, MADDRESS3=#{maddress3}, MADDRESS4=#{maddress4} WHERE MID=#{mid}
	</update>
	
	<delete id="memberdelete" parameterType="String">
		DELETE FROM MEMBER WHERE MID=#{mid}
	</delete>
 </mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 